
    <%= render 'nav' %>


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fabrizzio's Petit</h1>
                <hr>
                <p style="font-size: 24px;">Your home away from home.</p>
                <a href="#rooms" class="btn btn-primary btn-xl page-scroll">Stay With Us</a>
            </div>
        </div>
    </header>

    <%= render 'squares' %>


    <section class="bg-primary" id="about" style="background-color: rgb(147, 188, 135);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What you need to know</h2>
                    <hr class="light">
                    <h3 style="margin-top: 35px;"> Payment Information </h3>
                    <h3><i class="fa fa-credit-card" aria-hidden="true"></i></h3>
                    <p class="text-faded" style="margin-bottom: 35px;">Please note a <b>city tax of 0,72€</b> per night and person for accommodation around Catalunya will be added to the final balance.
The balance due will be paid at the check-in. Remember there is an extra charge for payments by card <b>(3% debit card 5% credit card)</b></p>
                    <h3> Room Information </h3>
                    <h3><i class="fa fa-bed" aria-hidden="true"></i></h3>
                    <p class="text-faded" style="margin-bottom: 35px;">
                      All the dorms (<b>except</b> for the DOUBLE ENSUITE WITH BALCONY) have shared bathrooms.
Our DORMS (<b>except</b> for the TWIN, TRIPLE AND DOUBLE bedrooms) are furnished with bunkbeds. If you are a person that requires heightened privacy we suggest one of the private rooms.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="activities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activites</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive" id="activity_pic" src="assets/activities/paella.JPG">
                        <h3>Paella</h3>
                        <p class="text-muted">Every Saturday night we like to cook the traditional Spanish dish of Paella for our guests.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive" id="activity_pic" src="assets/activities/tapaz 2.jpg">
                        <h3>Dinners</h3>
                        <p class="text-muted">Every Monday, Wednesday, and Friday we cook dinner for our guests for just two euros.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive" id="activity_pic" src="assets/activities/sangria_pic.jpg">
                        <h3>Sangria Nights</h3>
                        <p class="text-muted">Join us every Tuesday and Thursday night for free Sangria at 9!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive" id="activity_pic" src="assets/activities/bunkers 2.jpeg">
                        <h3>The Bunkers</h3>
                        <p class="text-muted">One of our guests favorites, the bunkers boasts one of the most beatiful views of Barcelona.  Join us every Friday as we watch the sunset over the city.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Meet the Staff -->
    <%= render 'staff' %>

    <!-- Directions -->
    <%= render 'directions' %>

    <!-- Map -->
   <!-- <%= render 'map' %> -->

    <!-- Footer -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Fabrizzio's Petit</strong>
            </h4>
            <p>Carrer del Bruc 65, 2º, 2ª, 08009 <br>Barcelona, Spain</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-phone fa-fw"></i> (0034) 93 215 40 59</li>
              <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">FABRIZZIOBCN@OUTLOOK.COM</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/fabrizziospetit"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/fabrizziospetit/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
              </li>
              <li>
                <a href="https://www.tripadvisor.com/Hotel_Review-g187497-d3653226-Reviews-Fabrizzio_s_Petit-Barcelona_Catalonia.html"><i class="fa fa-tripadvisor fa-fw fa-3x"></i></a>
                <script src="https://www.jscache.com/wejs?wtype=socialButtonRate&amp;uniq=910&amp;locationId=3653226&amp;color=green&amp;reviewCountRequested=false&amp;lang=en_US&amp;display_version=2"></script>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Your Home Away From Home</p>
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/jquery-1.8.0.js"></script>
    <script src="jq/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
